/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Pacifico');

:root {
    --font-title : 'Pacifico', cursive;
    --font-content: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #f3f3f3;
    font-family: var(--font-content);
}

nav#nav-bar {
    background: #fff;
    display: grid;
    grid-template-columns: minmax(200px, 0.8fr) 1fr;
}

nav#nav-bar .logo-company {
    max-width: 180px;
    margin: 0 20%;
}

nav#nav-bar .navigation {
    display: grid;
    grid-template-columns: repeat(3, auto);
    align-items: center;
    justify-items: center;
}

.nav-link {
    list-style-type: none;

}

.nav-link a {
    border: 2px solid #ccc;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all ease 0.5s;
    text-decoration: none;
    text-transform: uppercase;
    color: #666;

}

.nav-link a:hover {
    border: 2px solid green;
    background: green;
    color: #fff;
}

img {
    max-width: 100%;
}

.image-header {
    background: #666;
    height: 500px;
    position: relative;
}

#header .image-product {
    width: 55%;
    max-width: 500px;
    position: absolute;
    left: 10%;
    bottom: -15%;
}